body {
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 5px;
	text-align: center;
	background-color: #FCFCFC;
	font-family: helvetica,arial,clean,sans-serif;
}

div#container {
	margin: 1em auto;
	width: 80%;
 	border: 5px solid #DDDDDD;
	padding: 1em;
	background-color: #fff;
	text-align: left;
}
p.header {
	font-size: 20px;
}
p.footer {
	font-size: 11px;
	font-weight: bold;
	color: darkgray;
}